<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white"> Featured Posts </h2>
                <p class="text-white">Electricity Act 2003 has been enacted and came into force from 15.06.2003. The objective is to introduce competition, protect consumer’s interests and provide power for all. The Act provides for National Electricity Policy, Rural Electrification, Open access in transmission, phased open access in distribution, mandatory SERCs, license free generation and distribution, power trading, mandatory metering and stringent penalties for theft of electricity.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>