<div class="card shadow-effect">
    <img src="https://mynewbucket1105.s3.ap-south-1.amazonaws.com/Energy/power-station-gaa98ea42d_1920.jpg" alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views = 123,980 </small>

        <h5 class="mt-1">INCREASE IN POWER CONSUMPTION</h5>
        <P>In February 2022, power consumption stood at 108.03 billion units (BU), higher than the 103.25 BU in the same month of 2021, the data showed. Electricity consumption in February 2020 stood at 103.81 BU. The peak power demand met, which is the highest supply in a day, rose to 209.66 gigawatt (GW) in February 2023.</P>

        <small class="bg-light text-WARNING text-center ml-3">LAST UPDATED - FEB 20, 2023</small>
    </div>
</div>
